<div>
    <h1>{{title}}</h1>

    <div class="card-body">
        <form ng-submit="addBook()">
          <label for="" class="form-label">Họ và tên:</label>
              <input type="text" class="form-control" ng-model="book.ten">
              <div ng-if="kiemTra.name" class="text-danger">
                Vui lòng nhập họ tên !
              </div>
        
              <label for="" class="form-label">Năm sinh:</label>
              <input type="text" class="form-control" ng-model="book.namsinh">
  
              <label for="" class="form-label">Chuyên ngành:</label>
              <input type="text" class="form-control" ng-model="book.chuyennganh">
              <div class="text-center mt-3">
                  <button type="submit" class="btn btn-success">Thêm mới</button>
                  <button type="reset" class="btn btn-secondary">Resset</button>
                </div>
        </form>
        
      </div>
</div>